<div class="jumbotron text-center">
  <h1>Welcome to Book Hunt</h1>
  <p class="lead">Welcome to search books and to expand our selection.</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a> <a class="btn btn-dark" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>About Us</h3>
    <p>We offer registered users the ability to search and add new books to our collection. 
      With a quick search, users can easily find information from various books using book titles. 
      Join now to explore Book Hunt's extensive collection and help make it even larger. </p>
  </div>

</div>