<div class="jumbotron text-center">
  <h1>Welcome to Book Hunt</h1>
  <p class="lead">Welcome to search books and to expand our selection.</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a> <a class="btn btn-dark" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>RANDOM</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet molestiae a deserunt voluptatem itaque quia incidunt eligendi fugit id ex esse accusamus architecto veritatis, optio dolorum voluptatum ab exercitationem earum.</p>
  </div>

</div>